@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@import url('https://fonts.googleapis.com/css?family=Tangerine');


@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}
